:root{
    --r-heading-text-transform: unset;
    --r-heading2-size: 2em;
}

@font-face {
    font-family: "FangZheng";
    src: url("font.ttf");
}

.reveal *{
    font-family: FangZheng!important;
    font-size: 0.95em;
}

.reveal .lyric section{
    height: 100%;
}
.reveal blockquote p:first-child, .reveal blockquote p:last-child {
    display: block;
}
.reveal blockquote p{
    margin-left: .5em;
    margin-right: .5em;
    text-align: left;
}
.reveal blockquote {
    width: 100%;
    text-align: left;
    align-self: center;
    font-style: normal;
    background: rgba(255, 255, 255, 0.2);
    border-left: #2bf solid 5px;
    margin: .5em;
    transition: .3s;
}
.reveal blockquote + blockquote, .reveal blockquote.second.second{
    border-left: #f24 solid 5px;
}
.reveal blockquote.first, .reveal blockquote:nth-child(odd){
    border-left: #2bf solid 5px;
}
.reveal blockquote:hover {
    background: rgba(255, 255, 255, 0.25);
    transition: .3s;
}
.reveal p{
    margin-top: .15em;
    margin-bottom: .15em;
}
.reveal em {
    margin-top: .15em;
    margin-bottom: .15em;
}
.reveal blockquote em{
    margin: 20px;
    display: block;
}
.title{
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1));
}
.reveal .backgrounds>.slide-background{
    background: #000;
}
.reveal .backgrounds>.lyric{
    background: transparent!important;
}
.reveal table{
    border: 2px solid #a2a9b1;
}
.reveal table th, .reveal table tr, .reveal table td{
    padding: .1em;
    background: #f6f6f6;
    border: unset;
    vertical-align: middle;
    text-align: center;
}
.reveal table p{
    font-size: 30px;
    font-weight: normal;
    margin: .1em;
}
.reveal .lyric p{
    position: relative;
    top: 65%;
}
.reveal .muti-left blockquote{
    box-sizing: border-box;
    margin: 0;
    width: 100%;
    color: #2bf;
    border-top: #aaa solid 1px;
    border-bottom: #aaa solid 1px;
}
.reveal .muti-left blockquote p{
    text-align: right;
}
.reveal .muti-left blockquote.out{
    color: #f24;
}
.reveal .muti-right blockquote{
    box-sizing: border-box;
    margin: 0;
    width: 100%;
}
.reveal .muti-right blockquote{
    border-left: unset;
    border-right: #2bf solid 5px;
    border-top: #aaa solid 1px;
    border-bottom: #aaa solid 1px;
    color: #2bf;
}
.reveal .muti-right blockquote.out{
    border-right: #f24 solid 5px;
    color: #f24;
}
